*, html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: Arial, Helvetica, sans-serif;
}

/* CSS default untuk header */
header {
    position: fixed;
    display: flex;
    background-color: crimson;
    width: 100%;
    justify-content: space-between;
    padding: 8px 16px;
    transition: background-color 0.3s ease; /* Efek transisi untuk perubahan warna latar belakang */
}

/* CSS untuk header ketika di atas */
.header-top {
    background-color: white;
}


header a, header h3{
    text-decoration: none;
    color: black;
    font-weight: 600;
    cursor: pointer;
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid black;
    padding: 8px;
    width: 35%;
    height: 200px;
    cursor: pointer;
    box-shadow: #eaeaea 0px 4px 8px 4px;
}

.card:hover{
    scale: 1.035;
    transition: all .3s ease-in-out;
}

.super-center{
    min-height: 88vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;

}

h1{
    font-size: 24px;
    font-weight: 600;
    text-align: center;

}

form{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

form input, button{
    padding: 8px 16px;
    font-size: 18px;
}

input{
    border: transparent;
    background-color: #eaeaea;
    border-radius: 8px;
}

form button{
    background-color: crimson;
    border: 1px;
    color: white;
    font-size: 20px;
    font-weight: 600px;
    border-radius: 8px;
    cursor: pointer;
}

form button:hover{
    background-color: #b50e30;
    color: white;
    transition: all .3s ease-in-out;
}